#app-container {
  width: 100%;
  height: 410px;
  background-color: lightblue;
}

#app-store-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding-top: 100px;
}

#app-store-text h3 {
  font-size: 20px;
  padding-top: 50px;
  text-align: left;
}

#app-store-text p {
  text-align: left;
}

.app-btn {
  border-radius: 6px;
  border: 0;
  background-color: blue;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px 12px;
}

.app-btn a {
  color: white;
}

.app-btn:hover {
  cursor: pointer;
}

#phone-img {
  width: 250px;
}

#btn-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}

#credit {
  font-size: 0.1px;
}

#qr {
  width: 50px;
}

@media screen and (max-width: 600px) {
#app-container {
    height: 300px;
}
  #app-store-container {
    margin-top: 0;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    height: 200px;
  }

  #phone-img {
    width: 150px;
    margin-top: 50px;
  }

  #app-store-text h3 {
    font-size: 18px;
    padding-top: 50px;
    text-align: left;
  }
}
