.slider-text-container {
  margin-top: auto;
  padding: 80px 0;
}

.second-text {
    margin-bottom: 20px;
}


#slideshow-images {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: green;
}

#first-img {
  width: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#second-img {
  width: 150px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .slider-text-container {
    margin-top: auto;
    padding: 25px 0;
    position: relative;
  }

  .title {
    font-size: 20px;
    margin: 20px;
  }

  .header {
    margin: 0;
  }

  .first-text,
  .second-text {
    font-size: 12px;
  }

  .slider-btn {
    margin: 0;
  }
}
