.slider-text-container {
  margin-top: auto;
  padding: 80px 0;
}

.second-text {
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .slider-text-container {
    margin-top: auto;
    padding: 25px 0;
    position: relative;
  }

  .title {
    font-size: 20px;
    margin: 20px;
  }

  .header {
    margin: 0;
  }

  .first-text,
  .second-text {
    font-size: 12px;
  }

  .slider-btn {
    margin: 0;
  }
}
