#opportunity-title {
    padding: 50px;
}

#opportunity-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0;
}

.opportunity-box {
    width: 30%;
    max-width: 350px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    word-wrap: break-word;
    font-size: 16px;
    padding: 15px;
}

.opportunity-image-container {
    width: 100%;
    border-radius: 0;
}

.opportunity-image-container img {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
}



@media only screen and (max-width: 600px) {
    #opportunity-container {
        display: block;
    }

    .opportunity-box {
        width: 100%;
        margin: 20px auto 20px auto;
    }

}