#solution {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

/* .image-slider-container {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
} */

.video {
    width: 80%;
    height: 500px;
    margin: 150px auto;
}


@media only screen and (max-width: 600px) {
    #solution {
        display: block;
        padding-left: auto;
    }

    .video {
        width: 100%;
        height: 200px;
        margin: 100px auto;
    }
}