#video-section-container {
    /* display: flex; */
    justify-content: space-evenly;
    margin-top: 100px;
    max-width: 2000px;
    background-color: lightskyblue;
    padding-top: 20px;
}

#video-container {
    width: 100%;
}

#video {
    border: none;
    width: 100%;
    margin-top: 50px;
}

#video-text {
    width: 100%;
    word-wrap: break-word;
    max-width: 450px;
    padding: 20px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid;
}

#video-text p {
    font-size: 20px;
}

#app-title {
    margin: 10px 0 50px 0;
}

@media only screen and (max-width: 700px) {
    #video-section-container {
        display: block;
    }

    #video-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #video-text {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto 100px auto;
    }
}
